.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
  border-bottom: none;
}

/* .cross {
  background-color: yellow !important;
}

.circle {
  background-color: blue !important;
} */

.Cross {
  background-color: white;
}

.resultCross::after {
  content: "YES PLAYER CROSS WIN";
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

.resultCircle::after {
  content: "YES PLAYER CIRCLE WIN";
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

.resultDraw::after {
  content: "IT'S DRAW";
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

.Cross::after {
  content: '❌';
  position: relative;
  top: 25%;
  left: 25%;
}

.Circle {
  background-color: white;
}

.Circle::after {
  content: '⭕';
  position: relative;
  top: 25%;
  left: 25%;
}

.disabled {
  cursor: not-allowed;
}